.section__title h4 {
    text-align: center;
    padding: 1.5em;
    background-color:rgb(22, 46, 77);
    color: whitesmoke;
    font-size: 2em;
  }
  
  .section__title h4:hover {
    background-color: rgb(241, 220, 181);
    cursor: pointer;
    color: black;
  }
  
  .section__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    font-family: 'Kurale', serif;
  }
  
  .section__card {
    background-color: whitesmoke;
    box-shadow: 10px 5px 5px rgb(201, 199, 199);
    align-items: center;
    width: 17.5rem;
    border-radius: 0.5em;
  }
  
  .section__card ul {
    padding: 0em;
    margin: 0em;
  }
  
  .section__card--title {
    text-align: center;
    margin: 0.5em;
  }
  
  .section__card--imagen {
    width: auto;
    height: 350px;
  }
  
  .section__card--imagen img {
    padding: 1rem;
    width: 100%;
    height: 100%;
  }
  
  .section__card--body {
    padding: 1em;
    flex-direction: column;
    align-items: center;
  }
  
  .section__card--body ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .section__card--body ul li {
    padding: 0.5rem;
  }
  
  .section__button {
    display: flex;
    width: 10em;
    justify-content: center;
    align-content: center;
    background-color: goldenrod;
    padding: 0.5em 0em;
    border-radius: 0.5em;
    text-decoration: none;
    color: black;
    margin: auto;
  }
  
  .section__button:hover {
    cursor: pointer;
    color: black;
    background-color: rgb(241, 220, 181);
  }